@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Noto+Sans+Mono:wght@300&display=swap');


/* ################ TITLE STYLING ################## */

.container {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans Mono', monospace;
  }
  
  .right {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }

  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

/* ################################################################### */
*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    height: 100%;
    background-color: #2f3031;;
}

main{
    padding: 0.5em;
    padding-bottom: 180px;
}

header{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 15px;
}
textarea {
    resize: none;
    background-color: #2f3031;
    border: #313131;
    color: #dfdfdf;
}

#gifNotification{
    display: none;
}

footer{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #161616;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    width: 100%;
    min-width: 100%;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#gifInput{
    width: 50%;
    height: 30px;
    border-radius: 50px;
    background-color: #2f3031;
    padding-left: 8px;
    cursor: pointer;
    color: white;
}

#gifInput::placeholder{
    color: rgba(255, 255, 255, 0.575);
}

#sendPost{
    position: absolute;
    right: 235px;
    bottom: 60px;
}


.sendButton{
    text-align: center;
    cursor: pointer;
    margin: 1px auto;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 50px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    background-color: #1ED760;
    height: 26px;

}

.sendButton:hover{
    transform: scale(1.04);
    background-color: #21e065;
}

.div_post{
    display: flex;
    padding: 5px;
    margin: 10px;
    flex-direction: column;
    background-color: white;
}

.div_TextAndImage{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.div_TextAndImage img{
    justify-content: flex-end;
}

button{
    border: none;
    padding: 5px;
    margin: 2px;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    color: blue;
}

p{
    font-family: sans-serif;
}

.comment{
    margin-left: 30px ;
    margin-top: 2px;
    padding: 5px;
    box-shadow: black;
    display: list-item;
}

.commentForm{
    padding: 10px 25px 10px;
    display: flex;
    flex-direction: column;
}

#postText2{
    border-radius: 500px;
    margin-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    cursor: pointer;
}

#postText2::placeholder{
    color: rgba(255, 255, 255, 0.575);
}

#postReply{
    border-radius: 50px;
    background-color: #544f4f;
    padding-left: 8px;
    cursor: pointer;
}

#postReply::placeholder{
    color: rgba(255, 255, 255, 0.575);
}

#gifNotification{
    color: white;
}

  